---
import type { MetadataProps } from '@/types/metadata.ts';

const {
  title = '',
  description = '',
  keywords = '',
  author = '',
  image = new URL('/opengraph.png', Astro.site),
  locale = 'es_AR',
  twitterHandle = '',
} = Astro.props as MetadataProps;

const url = new URL(Astro.url.pathname, Astro.site);
const siteName = 'ChoxyPop Go';
const type = 'profile';
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<meta name="creator" content={author} />
<meta name="robots" content="index, follow" />
<link rel="canonical" href={url} />
<link href="/sitemap-index.xml" rel="sitemap" />

<!-- Open Graph -->
<meta property="og:type" content={type} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={url} />
<meta property="og:site_name" content={siteName} />
<meta property="og:locale" content={locale} />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="twitter:site" content={twitterHandle} />
<meta name="twitter:creator" content={twitterHandle} />

<!-- JSON-LD Structured Data -->
<script type="application/ld+json" is:inline>
  {
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "url": "https://go.choxypop.com",
  "name": "ChoxyPop Go - Enlaces Oficiales",
  "description": "Descubre todos los enlaces oficiales de ChoxyPop para disfrutar de su contenido, contactarlo, jugar con él o unirte a su comunidad.",
  "image": "https://cdn.choxypop.com/equipo/choxy.webp",
  "mainEntity": {
    "@type": "Person",
    "name": "ChoxyPop",
    "alternateName": "Choxy",
    "url": "https://choxypop.com",
    "image": "https://cdn.choxypop.com/equipo/choxy.webp",
    "description": "Creador de contenido y femboy celeste lleno de creatividad.",
    "sameAs": [
      "https://x.com/choxypop",
      "https://instagram.com/choxypop",
      "https://tiktok.com/@choxypop",
      "https://youtube.com/@choxypop",
      "https://facebook.com/choxypop.oficial",
      "https://mastodon.social/choxypop",
      "https://bsky.app/profile/choxypop.com",
      "https://threads.com/@choxypop",
      "https://deviantart.com/choxypop",
      "https://wattpad.com/choxypop",
      "https://ko-fi.com/choxypop",
      "https://steamcommunity.com/id/choxypop",
      "https://choxypop.itch.io"
    ]
  }
}

</script>
